<body class="dog">

  <h2 class="adjust">

    <%=  @mark %>

<br> <%= @name %> </br>
</h2>

<h3 class="cat">
 <%= @submit%>
 <div class="her">
   <a href="/index/index"> Home </a>
</div>
<div class="his">
  <a href="/eligibilty/new">Back</a>
</div>
</h3>
</body>
