<body class="main">
<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="logo">
      <span class="icon fa-diamond"></span>
    </div>

    <div class="content">
      <div class="inner">
        <h1 class="Edu">EduHelp</h1>
        <p>A site for every student. </p>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="/iqtest/show">I.QTest</a></li>
        <li><a href="/eligibilty/new">Eligibility</a></li>
        <li><a href="/counselor/show">Counselor</a></li>
        <li><a href="/creator/index">Creators</a></li>
        <!--<li><a href="#elements">Elements</a></li>-->
      </ul>
      </nav>
  </header>
</div>

<IMG STYLE="position:fixed; TOP:40px; LEFT:695px; WIDTH:55px; HEIGHT:55px" SRC="https://image.flaticon.com/icons/png/512/43/43078.png">

</body>


