<body class="ankan" background="https://previews.123rf.com/images/1stchoice/1stchoice1606/1stchoice160600042/58901945-Abstract-natural-light-brown-background-beige-earth-tone-soil-texture-Stock-Photo.jpg" >
<h>
<IMG class="ankit" src="https://scontent.fmaa1-1.fna.fbcdn.net/v/t1.0-9/15977990_10207784301997648_529873926269166464_n.jpg?oh=cb439cbe88cd46277868b45ca0f0d086&oe=59DF026D">
</h>
<div class="boxed">
<P class="riu">
  This webiste is created by Ankan Kumar.
  He is an engineer in the making.<br> This webiste is created as a summer project.
  It is created using ruby on rails.<br>
  Hope you liked it!<br>
  If any bugs are there, kindly mail on ankan.muj@gmail.com <br> <br>
  <b><div class="mega">About this website .</div></b> <br>
  <div class="rope"><b>Eligibility </b></div>
<P>The eligibility page helps you find the best college availaible from exams like IIT Mains, Manipal and SRMJEE
For Manipal and Mains kindly enter marks and for SRMJEE enter rank.</P>
    <b><div class="rope"> Counselor </div></b>
<p>  After knowing a college, the question that pops in a person's head is "Which one to go for?"</p>
    You can take help of our counselor for any inquery.<br> <br>
    <b><div class="rope"> IQ Test </div></b>
<p>  The IQ Test page has 10 questions and you get 10mins to solve them. Its an authentic way to know your I.Q
     A score of 6 is regarded average where as a score of 8 and beyond is regarded as genius.  </p>

</P>
</div>
  <a class="volley" href="/index/index">Home</a>
</body>
