<body background=" https://af-production.s3.amazonaws.com/photos/images/76458/original/books.jpg">
<div class="cow">
  <p> <b>Thanks for submitting your query</b> </p>
<p> Check your email after 10mins. </p>
<p> Hey! while you wait for reply, why don't you try this game <br> <%= link_to "Shoot the Birds",game_create_path%></li></p>
</div>
<a class="kill" href="/counselor/show"><b>Submit another query</b></a>
<a class="kill1"href="/index/index"><b>Home</b></a>
</body>