// Place all the styles related to the creator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ankit {
  height: 400px;
  width: 25%;
  position: relative;
  top: 100%;
  left: 37%;
  border-radius:50%;

}
.ankan
{
  background-size: cover;
font-size:large;
color: #000000;
  font-style: italic;
font-family: "Tibetan Machine Uni";
//text-shadow: 2px 2px white;
}
.volley
{
  padding-top: 10%;
  padding-left: 1px;

}
.boxed
{
  border: 2px solid #330619;
 box-shadow:8px 8px #000000;
}
.mega
{
  text-align: center;
  font-size: x-large;
  color: #730E15;
  font-family: Sans-Serif;
}
.rope
{
  font-size-adjust: 0.6;
  text-decoration-line: underline;
}