// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cricket
{

}
.football
{
  color: red;
}
.reva
{
  position: relative;
  top: 45%;
  left: 20%;
  color:white
}
.hate
{
  position: relative;
  top: -380px;
  left: 700px;
  color:white;
}
.football
{
  position: relative;
  top: -200px;
  left: 400px;
  color:red;
}
.volley
{
  position: relative;
  top: -840px;
  left:-10px;
  color:red;
}