<!DOCTYPE html>
<html>
<head>
  <title>SUMMER_PROJECT</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'creator' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>